{% extends "bootstrap/base.html" %}

{% block title %}ImCooking{% endblock %}

{% block head %}
{{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static', filename='chef-icon.png') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='chef-icon.png') }}" type="image/x-icon">
    <link rel="stylesheet"  href="/static/css/bootstrap.css">
    <link rel="stylesheet"  href="/static/css/ImCooking.css">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">ImCooking</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/listsrecipes">List of Recipes</a></li>
                <li><a href="/recipe">Search Recipes</a></li>
                <!--
                <li><a href="/newi">Add New Ingredients</a></li>
                <li><a href="/new">Add New Recipe</a></li>
                !-->
            </ul>
            <!--
            <form class="navbar-form">
        <div class="form-group" style="display:inline;">
          <div class="input-group" style="display:table;">
            <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
            <input class="form-control" name="search" placeholder="Search Here" autocomplete="off" autofocus="autofocus" type="text">
          </div>
        </div>
      </form>
            !-->
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}